@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: #191919;
}

div.Header {
    text-align: center;
    background: #191919;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
}

div.Header-box{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    
}

img.logo {
    height: auto;
    width: 70px;
    margin: 0 auto;
    
}
div.Header-text1 {
    height: auto;
    width: auto;
    font-size: 30px;
    float: left;
    padding: 1%;
    color:aliceblue;
    font-family: 'Noto Sans', sans-serif;
    display:blcok;
}

div.Semester {
    float: right;
    font-size: 40px;
    padding: 14px;
    color:aliceblue;
}

img.fb {
    height: auto;
    width: 40px;
    padding: 18px;
    float: right;
}
img.wa {
    height: auto;
    width: 40px;
    padding: 18px;
    float: right; 
}
div.social-media {
    float: right;
}


div#disp-img {
    background-color: white;
    height: auto;
    width:100%;
    text-align: center;
    margin: 0 auto;
    
}

img.quotes {
    position: absolute;
    height: auto;
    width: 100%;
    display:block;
}
.type-row-1 {

    border: 1px solid #c19898;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 13px;
    text-align: center;
    font-size: 32px;
    color: #c19898;
    font-family: 'Oswald', sans-serif;

}
.type-row-2 {
    height: 20px;
}

div.subjects {
    padding-top: 121px;
}

.horizontal-rule {
    width:100%;
    height:2px;
    background-color: #c19898;
}
.anchor {
    text-decoration: none;
    color: #c19898;
}