@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: #191919;
}

div.Header {
    text-align: center;
    background: black;
    width: 100%;
    height:70px;
    padding-top: 8px;
    padding-bottom: 0px;
    margin: 0 auto;
    border-bottom: 2px solid #c19898;
}

div.Header-box{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    
    
}

img.logo {
    height: auto;
    width: 60px;
    margin: 0 auto;
    display:inline-block;
    
}
div.Header-text1 {
    height: auto;
    width: auto;
    font-size: 25px;
    padding: 14px;
    color:aliceblue;
    font-family: 'Noto Sans', sans-serif;
    display:inline-block;
}


div#disp-img {
    background-color: black;
    width:100%;
    text-align: center;
    margin: 0 auto;
    
}

img.quotes {
    position: absolute;
    height: auto;
    width: 100%;
    display:block;
}
.type-row-1 {
    border: 1px solid #c19898;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 14px;
    text-align: center;
    font-size: 25px;
    color: #c19898;
    font-family: 'Oswald', sans-serif;
}
.type-row-2 {
    height: 20px;
}

div.subjects {
    padding-top: 121px;
    padding-bottom: 121px;
    width: 80%;
    text-align: center;
}

.horizontal-rule {
    width:100%;
    height:2px;
    background-color: #c19898;
}
.anchor {
    text-decoration: none;
    color: #c19898;
}
